@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
font-family: "poppins",sans-serif;
}
:root{
    --text-color:black;
    --main-color:yellowgreen;
}
section{
    padding: 50px 10%;

}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background:#edecea ;
}
.logo{
    font-size: 1.2 rem;
    font-weight: 600;
    color: var(--text-color);
}
.logo span{
    color: var(--main-color);
}
.navbar{
    position: relative;
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size:2 rem;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.home-text h1{
    font-size: 2.7 rem;
}
.home-text p{
    font-size: 0.938rem;
    margin: 0.4 rem 0 1.8 rem;
}
.home-text span{
    color: var(--main-color);
    }
    .btn{
        padding: 10px 14px;
        background: var(--main-color);
        color: white;
        border-radius: 0.3 rem;
        font-size: 14px;
 }
 .btn:hover{
    background: greenyellow;
 }
{


 
 font-size:14px;
 font-weight:500;
 color:var(--main-color);
 text-transform:uppercase;
}
.shop-container,
.new-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap:1rem;
    margin-top:2rem ;
}
.box{
    position: relative;
    box-shadow:1px 4px 4px rgb(0, 0, 0, 0.1) ;
    border-radius: 44px 4px 4px 4px;
}
.box .box-img {
    width:100%
    height: 400px;
    overflow: hidden;
    border-radius:44px 4px 0 0;
}








 

.title-price{
    display:flex;
    justify-content: space-between;
    padding:12px;
 }
 .title-price h3{
    font-size: 1rem;
    font-weight: 600;
 }
 .box span{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color:var(--main-color);
 }
 .stars .bx{
    color:var(--main-color);
 }
 .box .bx-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    color:var(--main-color);
 }
 .box .bx-cart:hover{
    background: #8fc53d;
 }
.new-container .box{
    border-radius: 4px;
}
.new-container .box .box-img {
    border-radius: 4px;
    }
    .about{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .about-img img{
        width:80%;
        border-radius: 10px;
        object-fit: contain;
    }
    .about-text span{
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color:var(--main-color);
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}